<h1>Bienvenido</h1>

	<% if user_signed_in? %>
	<p>Hola <%= current_user.username%>, tus datos son:</p>
	<p>Apellido: <%= current_user.email%></p>
	<p>Nombre: <%= current_user.name%></p>
	<p>Apellido: <%= current_user.lastname%></p>
	<p>Fono: <%= current_user.fono%></p>
	<p>Permission_level: <%= current_user.permission_level%></p>
	<p>Avatar: <%= image_tag current_user.avatar_url(:mini) %></p>
	<% end %>

<div class="principal">
	<div class="datos">
		<div class="title">
			Nuestro objetivo
		</div>
		<div class="info">
			<img src="http://res.cloudinary.com/clupin/image/upload/v1471653922/1_dnztvu.jpg", class="image">
			<p>Buscamos acercar el uso de la tecnología y herramientas tecnológicas a los estudiantes y sus profesores. Frente a la búsqueda de material relacionado para mi labor docente, me encontré con que la información está en la web, no siempre correcta, no siempre ordenado, no en nuestro idioma, no siempre enfocada en educación, la  mayoría de las veces la programación en códigos difíciles de trabajar y entender. Es por esto que me planteé como objetivo elaborar una serie de proyectos enfocados en educación con el uso de estos recursos, decidimos buscar y adaptar un programa para acercar la programación a los estudiantes, así llegamos a nuestro editor gráfico de Arduino basado en bloques, como siempre hemos dicho: <i>“Es programar, utilizando bloques como legos”</i>. </p>
		</div>
	</div>
	<div class="datos">
		<div class="title">
			Programar con bloques
		</div>
		<div class="info">
			<img src="http://res.cloudinary.com/clupin/image/upload/v1471653925/2_n4tkxq.png", class="image">
			<p>Es desarrollar programas con instrucciones y acciones, utilizando diversos bloques prediseñados, los cuales representan un código determinado, al ir uniendo o enlazando estos bloques entre sí, se va generando el programa, el cual también podremos ver como código en línea de comandos.
 </p>
		</div>
	</div>
	<div class="datos">
		<div class="title">
			¿Qué es Arduino?
		</div>
		<div class="info">
			<img src="http://res.cloudinary.com/clupin/image/upload/v1471653924/3_qeenb9.jpg", class="image">
			<p>Arduino es una plataforma de prototipos electrónica basada en software y hardware flexible y fácil de usar.</p>
      		<p>Arduino puede sentir el entorno por medio de la recepción de entradas desde una variedad de sensores y puede afectar a su alrededor mediante el control de luces, motores, pantallas y otros artefactos. </p>
		</div>
	</div>
	<div class="datos">
		<div class="title">
			¿Qué es blockly@TecnoKits?
		</div>
		<div class="info">
			<img src="http://res.cloudinary.com/clupin/image/upload/v1471653924/4_i2iu7v.png", class="image">
			<p>Es un programa web para la programación gráfica de Arduino y su traducción a código. </p>
			<p>Se basa en Blockly, un programa de edición gráfica con una interfaz web. Proporciona un único tipo de traducción de la programación gráfica, para generar código para copiar y pegar en el IDE de Arduino.</p>
			<p>En el caso particular de Blockly@TecnoKits es una adaptación y traducción de Blocklyarduino, en la cual hemos incluido los bloques necesarios para trabajar en nuestros proyectos.</p>
		</div>
	</div>
</div>
