<h1>Bienvenido</h1>

	<% if user_signed_in? %>
	<p>Hola <%= current_user.username%>, tus datos son:</p>
	<p>Apellido: <%= current_user.email%></p>
	<p>Nombre: <%= current_user.name%></p>
	<p>Apellido: <%= current_user.lastname%></p>
	<p>Fono: <%= current_user.fono%></p>
	<p>Permission_level: <%= current_user.permission_level%></p>
	<p>Avatar: <%= image_tag current_user.avatar_url(:mini) %></p>
	<% end %>

<div>
	<p>Bienvenido a Tecnokits, somos una empresa dedicada a la implementación de recursos educacionales a través de las diferentes tecnologías existentes; si deseas contactarte con nosotros, puedes hacerlo a través del correo: <b>admin@tecnokits.cl</b></p>
</div>
