<h1>Productos</h1>
<ul class="products">
  <% @products.each do |product| %>
    <li class="product">
      <div class="txt-center">
        <h3><%= link_to product.name, product, :class=>"without-underline" %></h3>
        <p><%= link_to image_tag(product.product_attachments.where(:principal => true).first.image_url(:mini)), product %></p>
        <p><%= product.mini_description %></p>
        <p class="prices" ><%= number_to_currency(product.price, :delimiter => '.', precision: 0) %></p>
      </div>
      <div>
      <p>Categorías</p>
        <% product.categories.each do |category| %>
          <p>
            <%= link_to category.name, category %>
          </p>
        <% end %>
      </div>
      <% if user_signed_in? && current_user.is_admin_user? %>
        <p><%= link_to 'Editar', edit_product_path(product) %></p>
        <p><%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    </li>
  <% end %>
</ul>



<br>

<%= will_paginate @products %>

<% if user_signed_in? && current_user.is_admin_user? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>

